.DS_Store
.DS_Store
DeepLearning/D2L/data/glove.6B.100d.zip
DeepLearning/D2L/data/glove.6B.50d.zip
DeepLearning/D2L/data/glove.6B.50d/vec.txt
DeepLearning/D2L/data/wiki.en.zip
TextDataMining/Homework/data/glove.6B.100d/vec.txt
TextDataMining/Homework/tf_idf.npy
